@import url("https://use.typekit.net/ayn4xon.css");
header,
nav,
main,
.product-row,
footer, header .ul2 .fas.fa-caret-down, header div:first-child i, header .burger-wrapper .burger, header .burger-wrapper .burger::before, header .burger-wrapper .burger::after, section .product {
  transition: all 0.2s ease-in-out;
}

@keyframes biz {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.95);
  }
  20% {
    transform: scale(1.05);
  }
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: league-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: revert;
}

header,
nav,
main,
.product-row,
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  header,
nav,
main,
.product-row,
footer {
    flex-direction: row;
  }
}

ul {
  line-height: 1.2;
}

header {
  background-color: rgba(153, 153, 153, 0.164);
  height: 80px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  flex-direction: row;
}
header .search-container {
  margin-bottom: 15px;
}
header .header-img {
  display: none;
  margin: revert;
}
@media screen and (min-width: 1200px) {
  header .header-img {
    display: inline;
    height: 80px;
  }
  header .header-img img {
    height: 100%;
  }
  header .header-img img:hover {
    animation: biz 0.8s ease 1;
  }
}
header nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: row;
}
header .icon-container {
  font-size: 20pt;
  margin: 0 20px 0 20px;
  transition: transform ease-in-out 0.2s;
}
header .icon-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}
header ul {
  width: 30%;
  list-style: none;
  z-index: 1;
}
header .ul2 {
  display: none;
  margin: revert;
  margin-right: 20px;
}
header .ul2 .fas.fa-caret-down {
  margin-left: 6px;
}
header .ul2 li:first-child:hover .fas.fa-caret-down {
  transform: rotate(180deg);
}
@media screen and (min-width: 1200px) {
  header .ul2 {
    width: 320px;
    display: flex;
    gap: 40px;
    font-size: 20pt;
    font-family: league-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  header .ul2 .dropdown-content {
    font-family: helvetica;
    font-size: 11pt;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  header .ul2 .dropdown-content li:hover {
    background-color: rgba(153, 153, 153, 0.164);
  }
  header .ul2 li {
    transition: transform ease-in-out 0.2s;
  }
  header .ul2 li:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  header .ul2 li.dropdown {
    position: relative;
    display: inline-block;
  }
  header .ul2 li.dropdown:hover .dropdown-content {
    display: block;
  }
}
header div:first-child {
  position: absolute;
  left: 30px;
  cursor: pointer;
}
header div:first-child i {
  font-size: 30px;
}
header div:first-child i:hover {
  font-size: 40px;
}
header .logo {
  cursor: pointer;
  height: 75%;
}
header .logo img {
  height: 100%;
}
header .logo:hover {
  animation: biz 0.8s ease 1;
}
header input[type=checkbox] {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
}
header input[type=checkbox]:checked ~ nav ul {
  position: absolute;
  top: 80px;
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
}
header input[type=checkbox]:checked ~ nav ul ul {
  position: relative;
  display: none;
  top: 0;
  margin-bottom: 20px;
}
header input[type=checkbox]:checked ~ nav ul li:first-child:hover ul,
header input[type=checkbox]:checked ~ nav ul li:first-child:focus ul {
  display: block;
}
@media screen and (min-width: 1200px) {
  header input[type=checkbox] {
    display: none;
  }
}
header .burger-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  header .burger-wrapper {
    display: none;
  }
}
header .burger-wrapper .burger {
  position: relative;
  left: 0;
  background-color: black;
  width: 40px;
  height: 4px;
  border-radius: 5px;
}
header .burger-wrapper .burger::before {
  content: "";
  position: absolute;
  transform: translateY(-10px);
  background-color: black;
  width: 40px;
  height: 4px;
  border-radius: 5px;
}
header .burger-wrapper .burger::after {
  content: "";
  position: absolute;
  transform: translateY(10px);
  background-color: black;
  width: 40px;
  height: 4px;
  border-radius: 5px;
}
header input[type=checkbox]:checked ~ .burger-wrapper .burger {
  width: 0;
}
header input[type=checkbox]:checked ~ .burger-wrapper .burger::before {
  transform: rotate(45deg) translate(-17px, 17px);
}
header input[type=checkbox]:checked ~ .burger-wrapper .burger::after {
  transform: rotate(-45deg) translate(-17px, -17px);
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.home-wrapper .home-page {
  height: 90vh;
  width: 100%;
  background-image: url("/assets/background-index-home-page.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-wrapper .home-page p {
  text-align: center;
  font-size: 1.3rem;
  padding: 10px;
}
.home-wrapper .home-page .alternative {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-wrapper .home-page .alternative .alternative-button {
  height: 15vh;
  margin: 30px;
  width: clamp(350px, 15vw, 300px);
  border: 2px solid black;
  border-radius: 10px;
  transition: transform ease-in-out 0.2s;
  border-radius: 1px;
  background-color: white;
}
.home-wrapper .home-page .alternative .alternative-button:hover {
  transform: scale(1.05);
}

main {
  padding: 5px;
  gap: 20px;
}
main .column-reverse {
  flex-direction: column-reverse;
}
main .product-header {
  margin-top: 20px;
  text-align: center;
  font-family: league-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 95%;
}
@media screen and (min-width: 1200px) {
  main .product-header {
    margin-left: 18.5%;
    margin-top: 0;
  }
}
main .navbar {
  display: none;
  position: sticky;
  top: 50px;
}
@media screen and (min-width: 1200px) {
  main .navbar {
    display: inline;
    width: 15%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 5px 10px -1px rgba(0, 0, 0, 0.42);
  }
  main .navbar h2 {
    margin: 14px;
    margin-left: -12px;
  }
}

section {
  border-radius: 5px;
  padding: 30px;
  width: 100%;
  box-shadow: 0 0 2px #999;
}
section form {
  width: 100%;
}
section form input {
  margin-bottom: 20px;
}
section form div.row {
  width: initial;
  margin: initial;
  padding: initial;
}
section form div.row div {
  min-width: 100px;
}
section form label[for=tel] {
  display: block;
}
section form .select-menu .form-select {
  display: inline-block;
  width: 80px;
  height: 38px;
}
section form .select-menu input[type=tel].form-control {
  display: inline-block;
  width: calc(100% - 80px);
}
section div.product-checkout {
  text-align: center;
  width: 100%;
}
section div.product-checkout i {
  padding-top: 10px;
}
section div.product-checkout div:nth-child(2) {
  margin-top: 20px;
}
section .available {
  color: green;
}
section .not-available {
  color: red;
}
section .product {
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0 0 2px #999;
  border-radius: 5px;
  overflow: hidden;
}
section .product:hover {
  transform: scale(1.05);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  section .product {
    width: 300px;
  }
}
section .product img {
  width: 100%;
  border-radius: 5px;
}
section .product .product-info {
  position: absolute;
  bottom: 0px;
  background-color: white;
  width: 100%;
  height: 80px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .product-row {
  gap: 20px;
  width: 80%;
}
@media screen and (min-width: 1200px) {
  section {
    flex-direction: row;
    padding: 30px;
  }
  section section {
    width: initial;
  }
  section section:first-child {
    flex-grow: 1;
  }
  section section:last-child {
    flex-grow: 1;
    flex-basis: 300px;
  }
}

li {
  transition: transform ease-in-out 0.2s;
  list-style: none;
}
li:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer-wrapper footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.footer-wrapper footer #info-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer-wrapper footer #info-wrapper {
    flex-direction: row;
    align-items: baseline;
    width: 60%;
  }
}
.footer-wrapper footer #info-wrapper div {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer-wrapper footer #info-wrapper div {
    display: flex;
    justify-content: center;
  }
}
.footer-wrapper footer #info-wrapper div #info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer-wrapper footer #info-wrapper div #info {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}
.footer-wrapper footer #info-wrapper div #info p {
  font-size: 1.3rem;
  padding: 5pt;
  color: black;
}
.footer-wrapper footer #info-wrapper div #info .fa {
  padding: 7pt;
  width: 35px;
}
.footer-wrapper footer #info-wrapper div #info a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.footer-wrapper footer #about-info,
.footer-wrapper footer #company-info,
.footer-wrapper footer #social-info {
  padding-top: 35pt;
  padding-bottom: 5pt;
}

.footer-img {
  transform: scale(0.6);
}