@use "variables";

@mixin flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include tablet-only() {
    flex-direction: row;
  }
}

@mixin mobile-box {
  height: 40vh;
  width: 44%;
  max-width: 200px;
  border: variables.$border-main;
  flex-wrap: wrap;
}

@mixin box {
  height: 40vh;
  width: 40vw;
  max-width: 200px;
  border: 2px solid black;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

@mixin tablet-only {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

%transition {
  transition: all 0.2s ease-in-out;
}
