@mixin mobile-box{
    height: 40vh;
    width: 44%;
    max-width: 200px;
    border: 2px solid black;
    flex-wrap:wrap;
}

@mixin tablet-only{
    @media screen and (min-width: 768px) {
        @content
        
    }
}

@mixin desktop-only{
    @media screen and (min-width: 1200px) {
        @content
        
    }
}