@use "variables";

@mixin flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @extend %transition;
  @include tablet-only() {
    flex-direction: row;
  }
}

@mixin box {
  height: 400px;
  width: 100%;
  @extend %transition;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px #999;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  @include tablet-only() {
    width: 300px;
  }
}

@mixin tablet-only {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

%transition {
  transition: all 0.2s ease-in-out;
}

@mixin gothic {
  font-family: league-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
}
