@use "mixins";
@use "variables";
@import url("https://use.typekit.net/ayn4xon.css");

// Dennis: animation till logga.
@keyframes biz {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.95);
  }
  20% {
    transform: scale(1.05);
  }
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

// Default text och storlek för text samt ikoner.
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

// Border-box ändrar så att padding ingår i full bredd.
// Margin 0 auto för att centrera allt innehåll.
* {
  box-sizing: border-box;
  margin: 0 auto;
}

// Default text för headings och meny.
h1,
h2,
h3,
h4,
h5,
h6 {
  @include mixins.gothic;
}

// Display flex.
header,
nav,
main,
.row,
footer {
  @include mixins.flex;
}

// All sass relevant för header.
header {
  background-color: rgba(153, 153, 153, 0.164);
  height: 80px;
  justify-content: center;
  align-items: center;
  border-bottom: variables.$border-main;
  flex-direction: row;

  // Sökboxen.
  .search-container {
    margin-bottom: 15px;
  }

  // Img-header i produkt och index.
  .header-img {
    display: none;
    margin: revert;

    @include mixins.desktop-only {
      display: inline;
      height: 80px;
      // margin-top: -10px;

      img {
        // width: 100%;
        height: 100%;

        &:hover {
          animation: biz 0.8s ease 1;
        }
      }
    }
  }

  // Navigation i header.
  nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
  }

  // Ikoner i header samt effekt vid hover.
  .icon-container {
    font-size: 20pt;
    margin: 0 20px 0 20px;
    transition: transform ease-in-out 0.2s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  // Deklarerat lista i header.
  ul {
    width: 30%;
    list-style: none;
  }

  // Detta är lista i header vid hover på sortiment.
  .ul2 {
    display: none;
    margin: revert;
    margin-right: 20px;
    .fas.fa-caret-down{
      margin-left: 6px;
      @extend %transition;
    }

    li:first-child:hover .fas.fa-caret-down{
        transform: rotate(180deg);
    
    }

    // Stil för lista i desktop-läge.
    @include mixins.tablet-only {
      width: 320px;
      display: flex;
      gap: 40px;
      font-size: 20pt;
      @include mixins.gothic;

      // Hur listan i header visas.
      .dropdown-content {
        font-family: helvetica;
        font-size: 11pt;
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;

        li:hover {
          background-color: rgba(153, 153, 153, 0.164);
        }
      }

      li {
        transition: transform ease-in-out 0.2s;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }


        &.dropdown {
          position: relative;
          display: inline-block;

          &:hover .dropdown-content {
            display: block;
          }
        }
      }
    }
  }

  // Default för första div-elementet i headern, tillbakaknapp samt hamburgare.
  div:first-child {
    position: absolute;
    left: 30px;
    cursor: pointer;

    i {
      font-size: 30px;
      @extend %transition;

      &:hover {
        font-size: 40px;
      }
    }
  }

  // Effekt för logo.
  .logo {
    cursor: pointer;
    height: 75%;

    img {
      height: 100%;
    }

    &:hover {
      animation: biz 0.8s ease 1;
    }
  }
}


// Allt sass relevant för mainblocket.
main {
  padding: 5px;
  gap: 20px;
  flex-direction: column-reverse;

  // Design för produktheadern i main.
  .product-header {
    text-align: center;
    @include mixins.gothic;
    width: 95%;
    @include mixins.tablet-only {
      margin-left: 8%;
    }
  }

  // Design för navbar i produktsida.
  .navbar {
    display: none;
    position: sticky;
    top: 50px;
    @include mixins.tablet-only {
      display: inline;
      width: 15%;
      height: 300px;
      border: variables.$border-main;
      border-radius: variables.$border-radius;
      h2{
        margin: 20px;
      }
    }
  }

  // Default-stil för sektioner i main.
  section {
    border-radius: 5px;
    padding: 30px;
    width: 100%;
    box-shadow: 0 0 2px #999;

    // Ytterligare stil för formulär.
    form {
      width: 100%;

      input {
        margin-bottom: 20px;
      }

      div.row {
        width: initial;
        margin: initial;
        padding: initial;
        div {
          min-width: 100px;
        }
      }
      label[for="tel"] {
        display: block;
      }
      .select-menu {
        .form-select {
          display: inline-block;
          width: 80px;
          height: 38px;
        }
        input[type="tel"].form-control {
          display: inline-block;
          width: calc(100% - 80px);
        }
      }
    }

    // Bild i checkout för tjänst som beställs.
    div.product-checkout {
      text-align: center;
      width: 100%;

      img {
        width: clamp(100px, 100%, 200px);
      }
    }

    // Visar ifall tjänsten är tillgänglig eller ej.
    .available {
      color: green;
    }
    .not-available {
      color: red;
    }
  }

  // Produkter i produktsidan.
  .product {
    @include mixins.box;
    border-radius: 5px;
    overflow: hidden;
    img {
      width: 100%;
      border-radius: 5px;
    }
  }

  // Row-klass i produktsidan.
  .row {
    gap: 20px;
    width: 80%;
  }

  // Stil då vi går över till tablet-storlek.
  @include mixins.desktop-only {
    flex-direction: row;
    padding: 30px;

    section {
      width: initial;
    }

    section:first-child {
      flex-grow: 1;
    }

    section:last-child {
      flex-grow: 1;
      flex-basis: 300px;
    }
  }
}

// Jättefin fot.
footer {
  background-color: white;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-top: variables.$border-main;
  @include mixins.tablet-only {
    width: 80%;
  }
  .img-container {
    width: 20%;
    margin-top: 40px;
    img {
      width: 100%;
    }
  }
}

li {
  transition: transform ease-in-out 0.2s;
  list-style: none;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}


